body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: white;
}

.country {
  stroke: #999;
  stroke-width: 0.05px;
}

.country:hover {
  fill: gray;
}

.tick text {
  font-size: 1em;
  fill: black;
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}

.bar {
  fill: orange;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: black;
  stroke: grey;
  stroke-width: 5px;
}